body{margin: 0; padding: 0; font-family: 'Roboto', sans-serif; background: #f9f9f9;}
button:hover{cursor: pointer;  transition: all .2s;}
button.btn:hover{border-color: #333; background: #f0f0f0;}
button:disabled:hover{background: #fff; cursor: default; border-color: #666;}
.madeBy{
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 10px;
}
.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
.btn-parrent{
	font-size: 0;
}
.btn{
	transition: all .2s;
    background: #fff;
    width: 100px;
    height: 100px;
    font-size: 50px;
    vertical-align: middle;
    margin: 1px;
    border: solid 1px #666;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.newGameBtn{
    padding: 10px 25px;
    margin: 20px 0 0 0;
}